{% extends 'base.html' %}



{% block content %}
<div class="post-entry">
<h2>{{ anything_you_want.title }}</h2>
<p>{{ anything_you_want.body }}</p>
</div>

<a href="{% url 'post_edit' anything_you_want.pk %}">+ Edit Blog Post</a>
<p><a href="{% url 'post_delete' anything_you_want.pk %}">+ Delete Blog Post</a></p>

{% endblock content %}